<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="PomodoroSkype.Properties.SettingsForm.defaultDbConnection" connectionString="data source=.\data.db" providerName="System.Data.SQLite" />
    <add name="dataEntitiesSettings" connectionString="metadata=res://*/Forms.Model1.csdl|res://*/Forms.Model1.ssdl|res://*/Forms.Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\projects\pomadoroSkype\PomodoroSkype\data.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="DB937BC2D44FF139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.84.0" newVersion="1.0.84.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>